a {color: #005EB8}
a:hover {color: #425563}

button a {color: #ffffff}
button a:hover {color: #ffffff;
    cursor: pointer;
 }

.navbar {color: #425563 }
.navbar a {color: #425563 }
.navbar a:hover {color: #005EB8 }

.sidebar-wrapper {color: #ffffff }
.sidebar-wrapper a {color: #ffffff }
.sidebar-wrapper a:hover {color: #E8EDEE }


.sidebar-wrapper .dropdown-item {color: #ffffff }
.sidebar-wrapper a.dropdown-item {color: #ffffff }
.sidebar-wrapper a.dropdown-item:hover {color: #E8EDEE }

.sidebar .sidebar-wrapper .nav li a, .sidebar .nav li .dropdown-menu a {color: #ffffff }




.sidebar-wrapper .nav-mobile-menu {padding: 20px }

.sidebar[data-background-color="nhsblue"] {
  background-color: #005EB8;
}

.sidebar[data-background-color="nhsblue"] .nav .nav-item .nav-link {
  color: #fff;
}

.sidebar[data-background-color="nhsblue"] .nav .nav-item i {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar[data-background-color="nhsblue"] .nav .nav-item.active [data-toggle="collapse"],
.sidebar[data-background-color="nhsblue"] .nav .nav-item:hover [data-toggle="collapse"] {
  color: #fff;
}

.sidebar[data-background-color="nhsblue"] .nav .nav-item.active [data-toggle="collapse"] i,
.sidebar[data-background-color="nhsblue"] .nav .nav-item:hover [data-toggle="collapse"] i {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar[data-background-color="nhsblue"] .user a {
  color: #fff;
}

.sidebar[data-background-color="nhsblue"] .simple-text {
  color: #fff;
}

.sidebar[data-background-color="nhsblue"] .sidebar-background:after {
  background: #005EB8;
  opacity: .8;
}

.sidebar[data-background-color="nhsblue"] .user:after,
.sidebar[data-background-color="nhsblue"] .logo:after,
.sidebar[data-background-color="nhsblue"] .nav li.separator:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar[data-background-color="nhsblue"] .nav li:hover:not(.active)>a,
.sidebar[data-background-color="nhsblue"] .nav li.active>[data-toggle="collapse"] {
  background-color: rgba(255, 255, 255, 0.1);
}


.info-card {
        background-color: #41B6E6;
        color: #ffffff;
}

.footer {background-color: #ffffff;}

.hero-section {
    height: calc(100vh - 183px);
    display: table;
    margin: auto;
    text-align: center;
}

.hero-section-container {
    display: table-cell;
    vertical-align: middle;
}
.floating-section {
color: #ffffff;
}

.social-icons i {padding: 15px;}

.footer a {color: #425563 }
.footer a:hover {color: #005EB8 }

.form-group label {position: relative!important;}

.sidebar .catalogue-actions:after { content: '';
    bottom: 0;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    margin: auto;}


form .form-group select.form-control {
    position: relative;
    top: 0px;
}


.sidebar .nav .nav-diseases i {
    font-size:20px;
}

.sidebar .nav .nav-diseases p {
    overflow: hidden;
font-size: 12px;
}



.sub-nav-diseases .nav-link {padding-left: 25px !important;}
.sub-nav-diseases .nav-link i {
    font-size:14px!important;
}

.form-group input[type=file] {opacity: 1; position: static;}

.Pending .card, tr.Pending  {
    background-color: #fff9c4;
}
.Changes .card, tr.Changes  {
    background-color: #ffcdd2;
}

.card.moderate_card {
    background-color: #ffffff;
}

.case-files .card {}
.case-files .file {}
.case-files button.case-image  {padding: 0;
    border: none;
	height: 200px;
    width: 100%;
    background-size: cover;
	    background-position: 50%;
	cursor: pointer;



}
.case-files button.case-images img {cursor: pointer; max-width:100%}

.case-files .file video,  .case-files .file audio {max-width:100%}

.actions form {display: inline-block; margin-bottom: 0;}
.to-hide {display: none !important;}

.select {

	position: relative;
	width: 100%;
}

.select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 18px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.select-text:focus ~ .select-label {
	color: #005EB8;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #005EB8;
	transition: 0.2s ease all;
}

.select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


.actions .modal-content form {width:100%}



