<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All active contests</title>
</head>
<body>

<div layout:fragment="content">
    <div class="card-body">
        <div class="row">
            <div class="card card-nav-tabs col-lg-12 col-md-12 col-sm-12">
                <div class="card-body">
                    <h3>Filter Active Contests</h3>
                    <form action="#" th:action="@{/all-phase1-contests-filter}" th:object="${filterContestDto}"
                          method="post">
                        <div class="row">
                            <div class="card-body col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Filter by Category</label>
                                    <select class="form-control selectpicker"
                                            data-style="btn btn-link" th:field="*{categoryId}">
                                        <option selected th:value="null">Any category</option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category.getCategory_type_id()}"
                                                th:text="${category.getCategory_type()}">
                                            Categories
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-body col-lg-5 col-md-5 col-sm-5 ml-auto">
                                <div class="form-group">
                                    <label>Sort</label>
                                    <select class="form-control selectpicker" data-style="btn btn-link"
                                            th:field="*{contestSortOption}">
                                        <option selected th:value="null">Not Sorted</option>
                                        <option th:each="option : ${contestSortOptions}"
                                                th:value="${option.getPreview()}"
                                                th:text="${option.getPreview()}">Sort
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Filter by Title (case sensitive!)</label>
                                    <input class="form-control" type="text" th:field="*{title}">
                                </div>
                            </div>
                            <div class="card-body col-lg-5 col-md-5 col-sm-5 ml-auto">
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Filter</button>
                            </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row">
            <a class="card-title"
               th:if="${contests.size()==0}">
                <h4>No active contests to display.</h4>
            </a>
            <div class="col-md-4" th:unless="${contests.size()==0}" th:each="contest: ${contests}">
                <div class="card card-product">
                    <div class="card-header card-header-image" data-header-animation="true">
                        <a>
                            <img class="img" src="../assets/img/card-2.jpg"
                                 th:src="@{{id}(id=${contest.getPhoto().getImage_link()})}">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="card-actions text-center">
                            <a type="button" th:href="@{/contest(id=${contest.getContest_id()})}"
                               class="btn btn-default btn-link"
                               rel="tooltip" data-placement="bottom"
                               title="View">
                                <i class="material-icons">visibility</i>
                            </a>
                            <a type="button" th:unless="${#sets.contains(contest.getParticipants(),user)} or
                            ${#sets.contains(contest.getJurors(),user)} or
                            ${contest.getOrganizer_id().equals(user)}"
                               th:href="@{/new_submission(id=${contest.getContest_id()})}"
                               class="btn btn-success btn-link" rel="tooltip" data-placement="bottom"
                               title="Join">
                                <i class="material-icons">person_add</i>
                            </a>
                            <a rel="tooltip" data-placement="bottom"
                               th:if="${#sets.contains(contest.getParticipants(),user)}">
                            <i class="material-icons">
                                done_outline
                            </i>
                            </a>
                            <a rel="tooltip" data-placement="bottom"
                               th:if="${#sets.contains(contest.getJurors(),user)} or
                            ${contest.getOrganizer_id().equals(user)}">
                            <i class="material-icons">
                                school
                            </i>
                            </a>
                        </div>
                        <h4 class="card-title">
                            <a th:text="${contest.getTitle()}">Title</a>
                        </h4>
                    </div>

                    <div class="card-footer">
                        <!--                        <div class="price">-->
                        <div class="price">
                            <p class="card-category" th:text="${contest.getCategoryType().getCategory_type()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>