<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All contests to judge</title>
</head>
<body>

<div layout:fragment="content">
      <div class="row">
        <div class="col-md-4" th:each="contest: ${contestsToJudge}">
            <div class="card card-product">
                <div class="card-header card-header-image" data-header-animation="true">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/card-2.jpg" th:src="${contest.getPhoto().getImage_link()}">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-actions text-center">
                        <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> Fix Header!
                        </button>
                        <a type="button" th:href="@{/contest(id=${contest.getContest_id()})}"
                           class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                           title="View and judge">
                            <i class="material-icons">art_track</i>
                        </a>
                        <a type="button"  th:if="${session.get('admin')} or ${session.get('organizer')}"
                           th:href="@{/update(id=${contest.getContest_id()})}"
                           class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                           title="Edit">
                            <i class="material-icons">edit</i>
                        </a>

                        <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom"
                                th:if="${session.get('admin')} or ${session.get('organizer')}"
                                th:href="@{/delete_contest(id=${contest.getContest_id()})}"
                                title="Delete">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <h4 class="card-title">
                        <a href="#pablo" th:text="${contest.getTitle()}">Contest Title</a>
                    </h4>

                </div>
                <div class="card-footer">
                    <div class="price">
                        <span class="badge badge-pill badge-success"
                              th:if="${contest.getIs_finished()==false}">Active</span>
                        <span class="badge badge-pill badge-warning"
                              th:if="${contest.getIs_finished()==true}">Finished</span>
                        <!--                        <div class="timeline-badge danger-badge" th:if="${contest.getIs_finished()==true}">-->
                        <!--                            <i class="material-icons">toggle_off</i>-->
                        <!--                        </div>-->
                    </div>
                    <div class="stats">
                        <p class="card-category" th:text="${contest.getCategoryType().getCategory_type()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>