<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>New Contest</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${message != null}">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
            <span th:text="${message}">This is a notification with close button.</span>
            <!--                <span>This is a notification with close button.</span>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/new}" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" name="title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Phase 1 Start Time</label>
                                    <input class="form-control datetimepicker" type="text" name="phase1_start_time" id='datetimepicker6'>
                                </div>
                            </div>
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Phase 1 End Time</label>
                                    <input class="form-control datetimepicker" type="text" name="phase1_end_time" id='datetimepicker7'>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Phase 2 End Time</label>
                                    <input class="form-control datetimepicker" type="text" name="phase2_end_time" id='datetimepicker8'>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control selectpicker"
                                            data-style="btn btn-link" name="contest_category">
                                            <option value=""></option>
                                        <option th:each="category : ${categories}"
                                                th:value="${category.getCategory_type_id()}"
                                                th:text="${category.getCategory_type()}">
                                            Contest Category
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail img-raised">
                                            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png"
                                                 rel="nofollow" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                        <div>
                                            <span class="btn btn-raised btn-round btn-default btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="image" accept="image/png, image/jpeg"/>
                                            </span>
                                            <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists"
                                               data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Create" class="btn btn-info">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>