<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Duplicate email</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon card-header-danger">
                    <div class="card-icon">
                        <i class="material-icons">error</i>
                    </div>
                </div>
                <div class="card-body">
                    <h4 class="error" th:text="${duplicate_email}">Error placeholder</h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>