<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Forgotten password - F-Junkies</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${message != null}">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
            <span th:text="${message}">This is a notification with close button.</span>
            <!--                <span>This is a notification with close button.</span>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <form action = "#" th:action="@{/forgot_password}" method = "post">
                        <div class="form-group">
                            <input type="email" name="email"  class="form-control" placeholder="Please enter your e-mail">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit" value="Send">Send Password Reset Link</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                             <a class="ml-2" href="" th:href="@{/register}"> Need An Account? Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>