<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Jury list</title>
    <style>
        /* unvisited link */
        a:link {
            color: white;
        }

        /* visited link */
        a:visited {
            color:white;
        }

        /* mouse over link */
        a:hover {
            color:white;
        }

        /* selected link */
        a:active {
            color:white;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="button-group">
                    <button class="btn btn-success">
                            <a th:href="@{/list_jurors(contest_id=${contest_id})}">
                        Current jury
                            </a>
                    </button>
                    <button class="btn btn-default">
                           <a th:href="@{/list_potential_jurors(contest_id=${contest_id})}">
                        Additional jury
                           </a>
                    </button>
<!--                    <a class="btn btn-warning btn-round"></a>-->
<!--                    <a class="btn btn-info btn-round"></a>-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="card-title">Jury of this contest</h4>
                        </div>
                        <div class="table-responsive table-sales">
                            <table class="table">
                                <thead>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Badge</th>
                                <th scope="col">Points</th>
                                <th scope="col">Actions</th>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.getUser_id()}">id</td>
                                    <td th:text="${user.getFirst_name()}">first name</td>
                                    <td th:text="${user.getLast_name()}">last name</td>
                                    <td th:text="${user.getUsername()}">username</td>
                                    <td th:text="${user.getRoleType().getRole()}">role</td>
                                    <td th:text="${user.getBadgeType().getBadge_type()}">role</td>
                                    <td th:text="${user.getTotalPoints()}">points</td>
                                    <td th:if="${user.getRoleType.getRole_id()==1}">
                                        <a title="Remove from jury" th:if="${user.getRoleType().getRole_id()==1}"
                                           th:href="@{/removejuror(contest_id=${contest_id},user_id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">person_off</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>