<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png"
          th:href="@{assets/img/apple-icon.png}">
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png" th:href="@{assets/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        F-Junkies navigation
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../static/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet"
          th:href="@{assets/css/material-dashboard.css?v=2.1.0}"/>
    <link href="../static/assets/css/material-dashboard.min.css" rel="stylesheet"
          th:href="@{assets/css/material-dashboard.min.css}"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/assets/demo/demo.css" rel="stylesheet" th:href="@{assets/demo/demo.css}"/>

<!--    <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="moment-2.10.3.js" th:src="@{assets/js/moment-2.10.3.js}"></script>
    <script src="bootstrap-datetimepicker.js" th:src="@{assets/js/bootstrap-datetimepicker.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</head>

<body class="">
<div class="wrapper ">
    <div class="sidebar" data-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="">

            </a>
            <a href="">

            </a>
        </div>
        <div class="sidebar-wrapper">

            <div class="user" th:if="${session.get('currentUser')}">
                <div class="photo">
<!--                    <img src="../static/assets/img/faces/avatar.jpg" th:src="${session.get('pictureLink')}"/>-->
                    <img th:src="@{{id}(id=${session.get('pictureLink')})}" />
                </div>
                <div class="user-info">
                    <a data-toggle="collapse" href="#collapseExample" class="username">
              <span th:text="${session.get('currentUser')}">
                UserName
                <b class="caret"></b>
              </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#" th:href="@{/updateme}">
                                    <i class="material-icons">manage_accounts</i>
                                    <span class="sidebar-normal"> My Profile </span>
                                </a>
                            </li>
                            <li>
                            <a class="nav-link" href="#" th:href="@{/updatemypassword}">
                                <i class="material-icons">lock_reset</i>
                                <span class="sidebar-normal"> Password Update </span>
                            </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/upload}">
                                    <i class="material-icons">add_a_photo</i>
                                    <span class="sidebar-normal"> Add profile picture </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/logout}">
                                    <i class="material-icons">logout</i>
                                    <span class="sidebar-normal"> Logout </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/}">
                        <i class="material-icons">home</i>
                        <p> Home </p>
                    </a>
                </li>
                <li class="nav-item " th:if="${session.get('admin')}">
                    <a class="nav-link" href="" th:href="@{/list_users}">
                        <i class="material-icons">people</i>
                        <p> Manage Users </p>
                    </a>
                </li>
                <li class="nav-item " th:if="${session.get('admin')}">
                    <a class="nav-link" href="" th:href="@{/moderate_photos}">
                        <i class="material-icons">notification_important</i>
                        <p> Moderate pictures </p>
                    </a>
                </li>
                <li class="nav-item " th:if="${session.get('admin')} or ${session.get('organizer')}">
                    <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                        <i class="material-icons">image</i>
                        <p> Organizer Panel
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="pagesExamples">
                        <ul class="nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../examples/pages/pricing.html" th:href="@{/new}">
                                    <i class="material-icons">add_circle_outline</i>
                                    <span class="sidebar-normal"> Create Contest </span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../examples/pages/rtl.html" th:href="@{/myorganizedcontests}">
                                    <i class="material-icons">sports_score</i>
                                    <span class="sidebar-normal"> My Contests </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/allcontests}" th:if="${session.get('currentUser')!=null}">
                        <i class="material-icons">camera</i>
                        <p> Contests </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/regular-dashboard}" th:if="${session.get('currentUser')!=null}">
                        <i class="material-icons">space_dashboard</i>
                        <p> My dashboard </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" th:href="@{/contestsToJudge}" th:if="${session.get('currentUser')!=null}">
                        <i class="material-icons">gavel</i>
                        <p> Judge </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if="${session.get('currentUser')==null}">
                        <i class="material-icons">login</i>
                        <p> Login </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}" th:if="${session.get('currentUser')==null}">
                        <i class="material-icons">app_registration</i>
                        <p> Register </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                            <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
<!--                    <form class="navbar-form" th:if="${session.get('currentUser')}">-->
<!--                        <div class="input-group no-border">-->
<!--                            <input type="text" value="" class="form-control" placeholder="Search by title...">-->
<!--                            <button type="submit" class="btn btn-white btn-round btn-just-icon">-->
<!--                                <i class="material-icons">search</i>-->
<!--                                <div class="ripple-container"></div>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--&lt;!&ndash;                    TODO check what's happenning in this if&ndash;&gt;-->
<!--                    <ul class="navbar-nav">-->
<!--                        <li class="nav-item" >-->
<!--                            <a class="nav-link" href="#pablo">-->
<!--                                <i class="material-icons">dashboard</i>-->
<!--                                <p class="d-lg-none d-md-block">-->
<!--                                    Stats-->
<!--                                </p>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown"-->
<!--                               aria-haspopup="true" aria-expanded="false">-->
<!--                                <i class="material-icons">person</i>-->
<!--                                <p class="d-lg-none d-md-block">-->
<!--                                    Account-->
<!--                                </p>-->
<!--                            </a>-->
<!--                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">-->
<!--                                <a class="dropdown-item" href="#" th:href="@{/updateme}">Profile</a>-->
<!--                                <div class="dropdown-divider"></div>-->
<!--                                <a class="dropdown-item" href="#" th:href="@{/logout}">Log out</a>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <ul class="navbar-nav" th:unless="${session.get('currentUser')}">
                        <a class="nav-item nav-link" href="" th:href="@{/login}" th:if="${session.get('currentUser')==null}" >Login</a>
                        <a class="nav-item nav-link" href="}" th:href="@{/register}" th:if="${session.get('currentUser')==null}">Register</a>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="content">
                <div class="container-fluid">
                    <section layout:fragment="content">
                        <p>This is filled by the content template.</p>
                    </section>
                    <!-- <button type="button" class="btn btn-round btn-default dropdown-toggle btn-link" data-toggle="dropdown">
7 days
</button> -->


                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>

                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--              <div class="fixed-plugin">-->
<!--                <div class="dropdown show-dropdown">-->
<!--                  <a href="#" data-toggle="dropdown">-->
<!--                    <i class="fa fa-cog fa-2x"> </i>-->
<!--                  </a>-->
<!--                  <ul class="dropdown-menu">-->
<!--                    <li class="header-title"> Sidebar Filters</li>-->
<!--                    <li class="adjustments-line">-->
<!--                      <a href="javascript:void(0)" class="switch-trigger active-color">-->
<!--                        <div class="badge-colors ml-auto mr-auto">-->
<!--                          <span class="badge filter badge-purple" data-color="purple"></span>-->
<!--                          <span class="badge filter badge-azure" data-color="azure"></span>-->
<!--                          <span class="badge filter badge-green" data-color="green"></span>-->
<!--                          <span class="badge filter badge-warning" data-color="orange"></span>-->
<!--                          <span class="badge filter badge-danger" data-color="danger"></span>-->
<!--                          <span class="badge filter badge-rose active" data-color="rose"></span>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="header-title">Sidebar Background</li>-->
<!--                    <li class="adjustments-line">-->
<!--                      <a href="javascript:void(0)" class="switch-trigger background-color">-->
<!--                        <div class="ml-auto mr-auto">-->
<!--                          <span class="badge filter badge-black active" data-background-color="black"></span>-->
<!--                          <span class="badge filter badge-white" data-background-color="white"></span>-->
<!--                          <span class="badge filter badge-red" data-background-color="red"></span>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="adjustments-line">-->
<!--                      <a href="javascript:void(0)" class="switch-trigger">-->
<!--                        <p>Sidebar Mini</p>-->
<!--                        <label class="ml-auto">-->
<!--                          <div class="togglebutton switch-sidebar-mini">-->
<!--                            <label>-->
<!--                              <input type="checkbox">-->
<!--                              <span class="toggle"></span>-->
<!--                            </label>-->
<!--                          </div>-->
<!--                        </label>-->
<!--                        <div class="clearfix"></div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="adjustments-line">-->
<!--                      <a href="javascript:void(0)" class="switch-trigger">-->
<!--                        <p>Sidebar Images</p>-->
<!--                        <label class="switch-mini ml-auto">-->
<!--                          <div class="togglebutton switch-sidebar-image">-->
<!--                            <label>-->
<!--                              <input type="checkbox" checked="">-->
<!--                              <span class="toggle"></span>-->
<!--                            </label>-->
<!--                          </div>-->
<!--                        </label>-->
<!--                        <div class="clearfix"></div>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="header-title">Images</li>-->
<!--                    <li class="active">-->
<!--                      <a class="img-holder switch-trigger" href="javascript:void(0)">-->
<!--                        <img src="../static/assets/img/sidebar-1.jpg" alt="" th:href="@{assets/img/sidebar-1.jpg}">-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a class="img-holder switch-trigger" href="javascript:void(0)">-->
<!--                        <img src="../static/assets/img/sidebar-2.jpg" alt="" th:href="@{assets/img/sidebar-2.jpg}">-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a class="img-holder switch-trigger" href="javascript:void(0)">-->
<!--                        <img src="../static/assets/img/sidebar-3.jpg" alt="" th:href="@{assets/img/sidebar-3.jpg}">-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a class="img-holder switch-trigger" href="javascript:void(0)">-->
<!--                        <img src="../static/assets/img/sidebar-4.jpg" alt="" th:href="@{assets/img/sidebar-4.jpg}">-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="button-container">-->
<!--                      <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-rose btn-block btn-fill">Buy Now</a>-->
<!--                      <a href="https://demos.creative-tim.com/material-dashboard-pro/docs/2.1/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">-->
<!--                        Documentation-->
<!--                      </a>-->
<!--                      <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank" class="btn btn-info btn-block">-->
<!--                        Get Free Demo!-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="button-container github-star">-->
<!--                      <a class="github-button" href="https://github.com/creativetimofficial/ct-material-dashboard-pro" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>-->
<!--                    </li>-->
<!--                    <li class="header-title">Thank you for 95 shares!</li>-->
<!--                    <li class="button-container text-center">-->
<!--                      <button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>-->
<!--                      <button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>-->
<!--                      <br>-->
<!--                      <br>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--   Core JS Files   -->
<script src="../static/assets/js/core/jquery.min.js" th:src="@{assets/js/core/jquery.min.js}"></script>
<script src="../static/assets/js/core/popper.min.js" th:src="@{assets/js/core/popper.min.js}"></script>
<script src="../static/assets/js/core/bootstrap-material-design.min.js"
        th:src="@{assets/js/core/bootstrap-material-design.min.js}"></script>
<script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"
        th:src="@{assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Plugin for the momentJs  -->
<script src="../static/assets/js/plugins/moment.min.js" th:src="@{assets/js/plugins/moment.min.js}"></script>
<!--  Plugin for Sweet Alert -->
<script src="../static/assets/js/plugins/sweetalert2.js" th:src="@{assets/js/plugins/sweetalert2.js}"></script>
<!-- Forms Validations Plugin -->
<script src="../static/assets/js/plugins/jquery.validate.min.js"
        th:src="@{assets/js/plugins/jquery.validate.min.js}"></script>
<!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
<script src="../static/assets/js/plugins/jquery.bootstrap-wizard.js"
        th:src="@{assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../static/assets/js/plugins/bootstrap-selectpicker.js"
        th:src="@{assets/js/plugins/bootstrap-selectpicker.js}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="../static/assets/js/plugins/bootstrap-datetimepicker.min.js"
        th:src="@{assets/js/plugins/bootstrap-datetimepicker.min.js}"></script>
<!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
<script src="../static/assets/js/plugins/jquery.dataTables.min.js"
        th:src="@{assets/js/plugins/jquery.dataTables.min.js}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="../static/assets/js/plugins/bootstrap-tagsinput.js"
        th:src="@{assets/js/plugins/bootstrap-tagsinput.js}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../static/assets/js/plugins/jasny-bootstrap.min.js"
        th:src="@{assets/js/plugins/jasny-bootstrap.min.js}"></script>
<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
<script src="../static/assets/js/plugins/fullcalendar.min.js"
        th:src="@{assets/js/plugins/fullcalendar.min.js}"></script>
<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
<script src="../static/assets/js/plugins/jquery-jvectormap.js"
        th:src="@{assets/js/plugins/jquery-jvectormap.js}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../static/assets/js/plugins/nouislider.min.js" th:src="@{assets/js/plugins/nouislider.min.js}"></script>
<!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
<!-- Library for adding dinamically elements -->
<script src="../static/assets/js/plugins/arrive.min.js" th:src="@{assets/js/plugins/arrive.min.js}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chartist JS -->
<script src="../static/assets/js/plugins/chartist.min.js" th:src="@{assets/js/plugins/chartist.min.js}"></script>
<!--  Notifications Plugin    -->
<script src="../static/assets/js/plugins/bootstrap-notify.js"
        th:src="@{assets/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../static/assets/js/material-dashboard.js?v=2.1.0" type="text/javascript"
        th:src="@{assets/js/material-dashboard.js?v=2.1.0}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../static/assets/demo/demo.js" th:src="@{assets/demo/demo.js}"></script>
<script>
    $(document).ready(function () {
        $().ready(function () {
            $sidebar = $('.sidebar');

            $sidebar_img_container = $sidebar.find('.sidebar-background');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                    $('.fixed-plugin .dropdown').addClass('open');
                }

            }

            $('.fixed-plugin a').click(function (event) {
                // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .active-color span').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-color', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data-color', new_color);
                }
            });

            $('.fixed-plugin .background-color .badge').click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('background-color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data-background-color', new_color);
                }
            });

            $('.fixed-plugin .img-holder').click(function () {
                $full_page_background = $('.full-page-background');

                $(this).parent('li').siblings().removeClass('active');
                $(this).parent('li').addClass('active');


                var new_image = $(this).find("img").attr('src');

                if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    $sidebar_img_container.fadeOut('fast', function () {
                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $sidebar_img_container.fadeIn('fast');
                    });
                }

                if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $full_page_background.fadeOut('fast', function () {
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        $full_page_background.fadeIn('fast');
                    });
                }

                if ($('.switch-sidebar-image input:checked').length == 0) {
                    var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                    var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                    $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                    $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                }
            });

            $('.switch-sidebar-image input').change(function () {
                $full_page_background = $('.full-page-background');

                $input = $(this);

                if ($input.is(':checked')) {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar_img_container.fadeIn('fast');
                        $sidebar.attr('data-image', '#');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page_background.fadeIn('fast');
                        $full_page.attr('data-image', '#');
                    }

                    background_image = true;
                } else {
                    if ($sidebar_img_container.length != 0) {
                        $sidebar.removeAttr('data-image');
                        $sidebar_img_container.fadeOut('fast');
                    }

                    if ($full_page_background.length != 0) {
                        $full_page.removeAttr('data-image', '#');
                        $full_page_background.fadeOut('fast');
                    }

                    background_image = false;
                }
            });

            $('.switch-sidebar-mini input').change(function () {
                $body = $('body');

                $input = $(this);

                if (md.misc.sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    md.misc.sidebar_mini_active = false;

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                } else {

                    $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                    setTimeout(function () {
                        $('body').addClass('sidebar-mini');

                        md.misc.sidebar_mini_active = true;
                    }, 300);
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                    clearInterval(simulateWindowResize);
                }, 1000);
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        md.initDashboardPageCharts();

        md.initVectorMap();

    });
</script>
<script>
    <!-- javascript for init -->
    $('.datetimepicker').datetimepicker({useCurrent: false,
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({useCurrent: false});
        $('#datetimepicker7').datetimepicker({useCurrent: false});
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker7').datetimepicker({useCurrent: false});
        $('#datetimepicker8').datetimepicker({useCurrent: false});
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker8').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker8").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<section layout:fragment="script">
    <p>This is filled by the script template.</p>
</section>
</body>
</html>