<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Contests I organize</title>
</head>
<body>

<div layout:fragment="content">
    <p>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Click to Open Filter
        </button>
    </p>
    <div class="collapse" id="collapseFilter">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3>Filter Contests</h3>
                    <form th:action="@{/filterforum}" method="post" th:if="${hide_filter==0}">
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" name="filter_title">
                                </div>
                            </div>
                        </div>
                        <div class ="row">
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Filter User</label>
                                    <select class="form-control selectpicker"
                                            data-style="btn btn-link" name="filter_user">
                                        <option value=""></option>
<!--                                        <option th:each="author : ${all_authors}"-->
<!--                                                th:value="${author.getUser_id()}"-->
<!--                                                th:text="${author.getUsername()}">-->
<!--                                            BeerStyleOne-->
<!--                                        </option>-->
                                    </select>
                                </div>
                            </div>
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Sort</label>
                                    <select class="form-control selectpicker"
                                            data-style="btn btn-link" name="filter_sort">
                                        <option value=""></option>
                                        <option value=" ORDER BY p.creation_time DESC">Newest to Oldest</option>
                                        <option value=" ORDER BY p.creation_time ASC">Oldest to Newest</option>
                                        <option value=" ORDER BY commentsCount DESC">Most commented</option>
                                        <option value=" ORDER BY likesCount DESC">Most liked</option>
                                        <option value=" ORDER BY dislikesCount DESC">Most disliked</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Filter" class="btn btn-info">
                    </form>
                    <div th:if="${hide_filter==1}">
                        <div>
                            <h4>Active Filters:</h4>
                            <ul>
    <!--                                <li>Title: <span class="badge badge-default" th:text="${post_title}"></span>-->
    <!--                                </li>-->
    <!--                                <li>User: <span class="badge badge-default" th:text="${user}"></span></li>-->
    <!--                                <li>Sorting: <span class="badge badge-default" th:text="${sort_text}"></span>-->
    <!--                                </li>-->
                            </ul>
                        </div>
                        <a th:href="@{/forum}" class="btn btn-info">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" th:each="contest: ${myContestsOrganizer}">
            <div class="card card-product">
                <div class="card-header card-header-image" data-header-animation="true">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/card-2.jpg" th:src="${contest.getPhoto().getImage_link()}">
                    </a>
                </div>
                <div class="card-body">
                    <div class="card-actions text-center">
                        <button type="button" class="btn btn-danger btn-link fix-broken-card">
                            <i class="material-icons">build</i> Fix Header!
                        </button>
                        <a type="button" th:href="@{/contest(id=${contest.getContest_id()})}"
                           class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                           title="View">
                            <i class="material-icons">art_track</i>
                        </a>
                        <a type="button" th:href="@{/update(id=${contest.getContest_id()})}"
                           class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                           title="Edit">
                            <i class="material-icons">edit</i>
                        </a>
                        <a type="button" th:if="${session.get('admin')} or ${session.get('organizer')}"
                           th:href="@{/list_jurors(contest_id=${contest.getContest_id()})}" class="btn btn-success btn-link"
                           rel="tooltip" data-placement="bottom"
                           title="Manage jury">
                            <i class="material-icons">school</i>
                        </a>
                        <button type="button" class="btn btn-danger btn-link" rel="tooltip" data-placement="bottom"
                                title="Delete">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                    <h4 class="card-title">
                        <a href="#pablo" th:text="${contest.getTitle()}">Contest Title</a>
                    </h4>
                    <!--                    <div class="card-description" th:text="${contest.}">-->
                    <!--                        The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.-->
                    <!--                    </div>-->
                </div>
                <div class="card-footer">
                    <div class="price">
                        <!--                        <div class="timeline-badge success-badge" th:if="${contest.getIs_finished()==false}">-->
                        <!--                            <i class="material-icons">toggle_on</i>-->
                        <!--                        </div>-->
                        <span class="badge badge-pill badge-success"
                              th:if="${contest.getIs_finished()==false}">Active</span>
                        <span class="badge badge-pill badge-warning"
                              th:if="${contest.getIs_finished()==true}">Finished</span>
                        <!--                        <div class="timeline-badge danger-badge" th:if="${contest.getIs_finished()==true}">-->
                        <!--                            <i class="material-icons">toggle_off</i>-->
                        <!--                        </div>-->
                    </div>
                    <div class="stats">
                        <p class="card-category" th:text="${contest.getCategoryType().getCategory_type()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>