<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Submission of new photo</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div th:if="${message != null}">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span th:text="${message}">This is a notification with close button.</span>
<!--                <span>This is a notification with close button.</span>-->
            </div>
        </div>
        <div class="card bg-light text-white">
            <div class="card card-profile ml-auto mr-auto" style="width: 20rem;">
            <img class="card-img" th:src="${contest.getPhoto().getImage_link()}" src="https://images.unsplash.com/photo-1517303650219-83c8b1788c4c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd4c162d27ea317ff8c67255e955e3c8&auto=format&fit=crop&w=2691&q=80" alt="Card image" rel="nofollow">
            <div class="card-img-overlay">
                <h4 class="card-title"  th:text="${contest.getTitle()}">Card title</h4>
                <p class="card-text" th:text="${contest.getOrganizer_id().getUsername()}">Last updated 3 mins ago</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">
                        <form th:action="@{/new_submission}" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="card-body col-md-12">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control" type="text" name="title">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-12">
                                    <div class="form-group">
                                        <label>Story</label>
                                        <textarea class="form-control" rows="3" name="story"></textarea>
                                        <small id="emailHelp" class="error"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="card-body col-md-12">
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                            <div class="fileinput-new thumbnail img-raised">
                                                <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png"
                                                     rel="nofollow" alt="...">
                                            </div>
                                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                            <div>
                                            <span class="btn btn-raised btn-round btn-default btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="image" accept="image/png, image/jpeg"/>
                                            </span>
                                                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists"
                                                   data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="Create" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

</body>
</html>