<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Additional jury list</title>
    <style>
        /* unvisited link */
        a:link {
            color: white;
        }

        /* visited link */
        a:visited {
            color:white;
        }

        /* mouse over link */
        a:hover {
            color:white;
        }

        /* selected link */
        a:active {
            color:white;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row col-lg-12 col-md-12 col-sm-12">
                <div class="button-group">
                    <button class="btn btn-default">
                        <a th:href="@{/list_jurors(contest_id=${contest_id})}">
                            Current jury
                        </a>
                    </button>
                    <button class="btn btn-success">
                        <a th:href="@{/list_potential_jurors(contest_id=${contest_id})}">
                            Additional jury
                        </a>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="card-title">Regular Users Eligible for Jury Role</h4>

                        </div>
                        <div class="table-responsive table-sales">
                            <table class="table">
                                <thead>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Badge</th>
                                <th scope="col">Total points</th>
                                <th scope="col">Add to jury list</th>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="*{user.getUser_id()}">id</td>
                                    <td th:text="${user.getFirst_name()}">first name</td>
                                    <td th:text="${user.getLast_name()}">last name</td>
                                    <td th:text="${user.getUsername()}">username</td>
                                    <td th:text="${user.getRoleType().getRole()}">role</td>
                                    <td th:text="${user.getStatus().getStatus_name()}">active or not</td>
                                    <td th:text="${user.getBadgeType().getBadge_type()}">badge</td>
                                    <td th:text="${user.getTotalPoints()}">points</td>
                                    <td>
                                        <a title="Add to jury" th:unless="${#sets.contains(contest.getJurors(),user)}"
                                           th:href="@{/addjuror(contest_id=${contest_id},user_id=${user.getUser_id()})}"
                                           class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">person_add_alt_1</i>
                                        </a>
                                        <a title="Remove from jury" th:if="${#sets.contains(contest.getJurors(),user)}"
                                           th:href="@{/removejuror(contest_id=${contest_id},user_id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">person_off</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

</body>
</html>