<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Regular Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">

        <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class="card card-nav-tabs col-lg-7 col-md-7 col-sm-7">
                <h4 class="card-header card-header-info">My running contests</h4>
                <div class="card-body">
                    <a class="card-title"
                       th:if="${runningContests.size()==0}">
                        <h4>You are not participating in any running contests.</h4>
                    </a>
                    <div class="table-responsive table-sales" th:if="${runningContests.size()!=0}">
                        <table class="table">
                            <thead>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                            </thead>
                            <tbody>
                            <tr th:each="contest : ${runningContests}">
                                <td th:text="${contest[1]}">title</td>
                                <td>
                                    <a type="button" th:href="@{/contest(id=${contest[0]})}"
                                       class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                                       title="View">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card card-nav-tabs col-lg-4 col-md-4 col-sm-4 ml-auto">
                <h4 class="card-header card-header-info">My information</h4>
                <div class="card-body">
                    <h6 class="card-category" th:inline="text">My accumulated points:
                        [[${user.getTotalPoints()}]]</h6>
                    <h6 class="card-category" th:inline="text">My badge:
                        [[${user.getBadgeType.getBadge_type}]]
                    <i class="material-icons"
                       th:if="${user.getBadgeType().getBadge_id()==1}">child_care</i>
                    <i class="material-icons"
                       th:if="${user.getBadgeType().getBadge_id()==2}">directions_run</i>
                    <i class="material-icons"
                       th:if="${user.getBadgeType().getBadge_id()==3}">flight_takeoff</i>
                    <i class="material-icons"
                       th:if="${user.getBadgeType().getBadge_id()==4}">hotel_class</i></h6>
                    <h6 class="card-category" th:inline="text">Points till next badge:
                        [[${remainingPoints}]]</h6>
                </div>
            </div>

        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class="card card-nav-tabs col-lg-12 col-md-12 col-sm-12">
                <h4 class="card-header card-header-info">My finished contests</h4>
                <a class="card-title"
                   th:if="${finishedContests.size()==0}">
                    <h4>You have not participated in any finished contests.</h4>
                </a>
                <div class="card-body">
                    <div class="table-responsive table-sales" th:if="${finishedContests.size()!=0}">
                        <table class="table">
                            <thead>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>
                            </thead>
                            <tbody>
                            <tr th:each="contest : ${finishedContests}">
                                <td th:text="${contest[1]}">title</td>
                                <td>
                                    <a type="button" th:href="@{/contest(id=${contest[0]})}"
                                       class="btn btn-default btn-link" rel="tooltip" data-placement="bottom"
                                       title="View">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class=" card card-nav-tabs col-lg-12 col-md-12 col-sm-12">
                <h4 class="card-header card-header-info">All active contests</h4>
                <div class="card-body">
                    <a class="card-title"
                       th:href="@{/all-phase1-contests-filter}">
                        <h4>Go to the list of all contests currently accepting submissions</h4>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


</body>
</html>