<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Form</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${message != null}">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
            </button>
            <span th:text="${message}">This is a notification with close button.</span>
            <!--                <span>This is a notification with close button.</span>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <form action = "#" th:action="@{/reset_password}" method = "post">
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your new password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm your new password" required oninput="checkPasswordMatch(this);">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" type="submit" value="Send">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>