<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Contest Update</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/update (id=${contestId})}" th:object="${contest}"  method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input class="form-control" type="text" th:field="*{title}" name="title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Phase 1 Start Time</label>
                                    <input class="form-control datetimepicker" type="text" th:value="${phase1starttime}"
                                           name="phase1_start_time" id='datetimepicker6'>
                                </div>
                            </div>
                            <div class="card-body col-md-6">
                                <div class="form-group">
                                    <label>Phase 1 End Time</label>
                                    <input class="form-control datetimepicker" type="text" th:value="${phase1endtime}"
                                           name="phase1_end_time" id='datetimepicker7'>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Phase 2 End Time</label>
                                    <input class="form-control datetimepicker" type="text" th:value="${phase2}"
                                           name="phase2_end_time" id='datetimepicker8'>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card-body col-md-12">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control selectpicker"
                                            data-style="btn btn-link" name="contest_category"
                                            th:field="*{categoryId}">
                                        <!--
                                                                                <option value=""></option>
                                        -->
                                        <option th:each="category : ${categories}"
                                                th:value="${category.getCategory_type_id()}"
                                                th:text="${category.getCategory_type()}">
                                            BeerStyleOne
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail img-raised">
                                             <!--src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png"-->
                                            <img th:src="${image}"
                                                 rel="nofollow" alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                                        <div>
                                            <span class="btn btn-raised btn-round btn-default btn-file">
                                                <span class="fileinput-new">Select image</span>
                                                <span class="fileinput-exists">Change</span>
                                                <input type="file" name="image" accept="image/png, image/jpeg"/>
                                            </span>
                                            <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists"
                                               data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Update" class="btn btn-info">
                    </form>
                    <div class="row col-lg-12 col-md-12 col-sm-12">
                        </br>
                    </div>
<!--                    <div class="row col-lg-12 col-md-12 col-sm-12">-->
<!--                        <div class=" card card-nav-tabs col-lg-12 col-md-12 col-sm-12">-->
<!--                            <h4 class="card-header card-header-info">Contest jurors</h4>-->
<!--                            <div class="card-body">-->
<!--                                <a class="card-title"-->
<!--                                   th:href="@{/list_jurors(contest_id=${contestId})}">-->
<!--                                    <h4>Click to view and edit jurors</h4>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row col-lg-12 col-md-12 col-sm-12">-->
<!--                    <div class=" card card-nav-tabs col-lg-12 col-md-12 col-sm-12">-->
<!--                        <h4 class="card-header card-header-info">Additional jurors</h4>-->
<!--                        <div class="card-body">-->
<!--                            <a class="card-title"-->
<!--                               th:href="@{/list_potential_jurors(contest_id=${contestId})}">-->
<!--                                <h4>Go to the list of potential additional jurors</h4>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>