<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Users list</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <p>
                <a class="btn btn-info" data-toggle="collapse" href="#search_collapse" aria-expanded="false"
                   aria-controls="search_collapse">
                    Search
                </a>
            </p>
            <div class="collapse" id="search_collapse">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card card-nav-tabs">
                            <div class="card-body">
                                <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                      th:object="${userSearch}" method="post">
                                    <label>Search</label>
                                    <input type="text" class="form-control" th:field="*{search}"/>
                                    <button class="btn btn-primary" type="submit">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">people</i>
                            </div>
                            <h4 class="card-title">Users</h4>
                        </div>
                        <div class="table-responsive table-sales">
                            <table class="table">
                                <thead>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                                <th scope="col">Points</th>
                                <th scope="col">Actions</th>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${all_users}">
                                    <td th:text="${user.getUser_id()}">id</td>
                                    <td th:text="${user.getFirst_name()}">first name</td>
                                    <td th:text="${user.getLast_name()}">last name</td>
                                    <td th:text="${user.getUsername()}">username</td>
                                    <td th:text="${user.getRoleType().getRole()}">role</td>
                                    <td th:text="${user.getStatus().getStatus_name()}">active or not</td>
                                    <td th:text="${user.getTotalPoints()}">points</td>
                                    <td th:if = "${user.getStatus().getStatus_id()!=3}">
                                        <a class="btn btn-success btn-just-icon btn-fill btn-round btn-wd"
                                           th:href="@{/updateuser(id=${user.getUser_id()})}">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a title="block user" th:if="${user.getStatus().getStatus_id()==1}"
                                           th:href="@{/blockuser(id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">person_off</i>
                                        </a>
                                        <a title="unblock user" th:if="${user.getStatus().getStatus_id()==2}"
                                           th:href="@{/unblockuser(id=${user.getUser_id()})}"
                                           class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">person_add_alt_1</i>
                                        </a>
                                        <a th:if="${user.getStatus().getStatus_id!=3}" th:href="@{/deleteuser(id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round">
                                            <i class="material-icons"
                                               onclick="return confirm('Are you sure you want to delete this item?');">delete</i>
                                        </a>
                                        <a title="remove admin" th:if="${user.getRoleType().getRole_id==3}"
                                           th:href="@{/removeadmin(id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">remove_moderator</i>
                                        </a>
                                        <a title="make admin" th:if="${user.getRoleType().getRole_id==2}"
                                           th:href="@{/makeadmin(id=${user.getUser_id()})}"
                                           class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">add_moderator</i>
                                        </a>
                                        <a title="remove organizer" th:if="${user.getRoleType().getRole_id==2}"
                                           th:href="@{/removeorganizer(id=${user.getUser_id()})}"
                                           class="btn btn-danger btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">work_off</i>
                                        </a>
                                        <a title="make organizer" th:if="${user.getRoleType().getRole_id==1}"
                                           th:href="@{/makeorganizer(id=${user.getUser_id()})}"
                                           class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">work_outline</i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>