<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Winners</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="card">
        <div class="card card-profile ml-auto mr-auto" style="width: 20rem;">
        <img class="card-img" th:src="${contest.getPhoto().getImage_link()}"
             rel="nofollow" alt="...">
        </div>
        <div class="card-img-overlay">
            <h4 class="card-title" th:text="${contest.getTitle()}">Card title</h4>
        </div>
    </div>
    <div class="row">
        <a class="card-title"
           th:if="${photoSubmissions1.size()==0}">
            <h4>There were no participants in this contest.</h4>
        </a>
    </div>
    <div class="table-responsive" th:unless="${photoSubmissions1.size()==0}">
        <table class="table table-shopping">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th>Photo</th>
                <th class="th-description">User</th>
                <th class="text-right">Score</th>
                <th class="text-right">Place</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <div th:each="photoSubmission: ${photoSubmissions1}">
            <tr>
                <td>
                    <div class="img-container">
                        <img th:src="${photoSubmission.getPhoto().getImage_link()}" src="https://images.thenorthface.com/is/image/TheNorthFace/NF0A2VFL_619_hero" alt="..." rel="nofollow">
                    </div>
                </td>
                <td class="td-name">
                    <a th:text="${photoSubmission.getTitle()}">Spring Jacket</a>
                    <br><small th:text="${photoSubmission.getStory()}">by Dolce&amp;Gabbana</small>
                </td>
                <td>
                    <small th:text="${photoSubmission.getUser().getUsername()}">by Dolce&amp;Gabbana</small>                </td>
                <td class="td-number">
                    <small th:text="${photoSubmission.getTotalScore()}">by Dolce&amp;Gabbana</small>                </td>
                </td>
                <td class="td-number">
                    1
                </td>
            </tr>
            </div>
            <div th:each="photoSubmission2: ${photoSubmissions2}">
                <tr>
                    <td>
                        <div class="img-container">
                            <img th:src="${photoSubmission2.getPhoto().getImage_link()}" src="https://images.thenorthface.com/is/image/TheNorthFace/NF0A2VFL_619_hero" alt="..." rel="nofollow">
                        </div>
                    </td>
                    <td class="td-name">
                        <a th:text="${photoSubmission2.getTitle()}">Spring Jacket</a>
                        <br><small th:text="${photoSubmission2.getStory()}">by Dolce&amp;Gabbana</small>
                    </td>
                    <td>
                        <small th:text="${photoSubmission2.getUser().getUsername()}">by Dolce&amp;Gabbana</small>                </td>
                    <td class="td-number">
                        <small th:text="${photoSubmission2.getTotalScore()}">by Dolce&amp;Gabbana</small>                </td>
                    </td>
                    <td class="td-number">
                        2
                    </td>
                </tr>
            </div>
            <div th:each="photoSubmission3: ${photoSubmissions3}">
                <tr>
                    <td>
                        <div class="img-container">
                            <img th:src="${photoSubmission3.getPhoto().getImage_link()}" src="https://images.thenorthface.com/is/image/TheNorthFace/NF0A2VFL_619_hero" alt="..." rel="nofollow">
                        </div>
                    </td>
                    <td class="td-name">
                        <a th:text="${photoSubmission3.getTitle()}">Spring Jacket</a>
                        <br><small th:text="${photoSubmission3.getStory()}">by Dolce&amp;Gabbana</small>
                    </td>
                    <td>
                        <small th:text="${photoSubmission3.getUser().getUsername()}">by Dolce&amp;Gabbana</small>                </td>
                    <td class="td-number">
                        <small th:text="${photoSubmission3.getTotalScore()}">by Dolce&amp;Gabbana</small>                </td>
                    </td>
                    <td class="td-number">
                        3
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>